{% extends "base.html" %}
{% set active_page = "about" %}
{% block content %}


<div class="h-5000 d-inline-block p-5" style="width: 100%; background-color: rgba(255, 255, 255, 0)">
  <div class="container-fluid pl-5 pr-5">
    <div class="row pl-5 pr-5">

      <div class="col-sm">
        <div class="card border-0 bg-transparent">
          <div class="card-body rounded" style="background-color: rgb(104, 8, 13)">
            <h5 class="card-title" style="color:  rgb(255, 255, 255);">About the creation</h5>
            <p class="card-text" style="color: rgba(219, 219, 219, 0.7);">
              The website is a personal project created by Estela Valle with the aims to learn and practice programming
              skills. It is open source and it is available on
              <a class="text-light" href="https://github.com/Ex-tela/Magical_Chords_Project" target="_blank"><i>Estela's
                  GitHub profile.</i></a>
            </p>
          </div>
        </div>

        <p class="px-2"></p>

        <div class="card border-0 bg-transparent">
          <div class="card-body rounded" style="background-color: rgb(104, 8, 13)">
            <h5 class="card-title" style="color:  rgb(255, 255, 255);">Website future improvements</h5>
            <div class="card-text" style="color: rgba(219, 219, 219, 0.7);">
              Currently I am working on the website login mechanism, as well as improving the chords formatter, and
              increasing test coverage for existing functionalities.
            </div>
          </div>
        </div>


      </div>

      <div class="col-sm">

        <div class="card border-0 bg-transparent">
          <div class="card-body rounded" style="background-color: rgb(104, 8, 13);">
            <h5 class="card-title" style="color:  rgb(255, 255, 255);">Technologies used in the website</h5>
            <div class="card-text" style="color: rgba(219, 219, 219, 0.7);">
              <p>
                Currently, the website counts with a PostgreSQL database, which is accessible through the search engine
                created using Flask and SQLAlchemy.</p>
              <p>Main technologies used in the project:</p>
              <p>- HTML, Javascript and Twitter bootstrap, through flask templates</p>
              <p>- Unit tests using pytest running in docker</p>
              <p>- Site is open source, available on github at https://github.com/Ex-tela/Magical_Chords_Project
              </p>
              <p>- ChordPro format parser and html chord generator written in python</p>
              <p>- PostgreSQL as database</p>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>
</div>

{% endblock %}