<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <script type=text/javascript>

   function gen_chord() {
      
      var xmlhttp = new XMLHttpRequest();

      xmlhttp.onreadystatechange = function() {
          if (xmlhttp.readyState == XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
            if (xmlhttp.status == 200) {
                document.getElementById("song_output").innerHTML = xmlhttp.responseText;
            }
            else {
                alert('Error, ' + xmlhttp.status);
            }
          }
      };
      
      xmlhttp.open("POST", "/format_chordpro/", true);
      xmlhttp.setRequestHeader("Content-Type", "text/plain")
      var inputHtml = document.getElementById('song_input').value;
      xmlhttp.send(inputHtml);
      // document.getElementById('song_output').innerHTML=document.getElementById('song_input').value;
    }

        
    </script>

  <title>Magical Chords</title>
  <link rel="icon" href="/web/LOGO_Magical_chords.png">
</head>

<body style="background-color: rgb(224, 204, 181)">
  <header class="p-3 text-white" style="background-color: rgb(235, 214, 255)">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-center">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <img class="rounded text-left pr-5" style="width: 125px;" src="/web/LOGO_Magical_chords.png">

        {% set navigation_bar = [
        ('/', 'home', 'Home'),
        ('/library/', 'library', 'Library'),
        ('/artists/', 'artists', 'Artists'),
        ('/insert/', 'insert', 'Insert')
        ('/about/', 'about', 'About')
        ] -%}
        {% set active_page = active_page|default('home') -%}

        <ul id="navigation" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          {% for href, id, caption in navigation_bar %}
          <li>
            <a href="{{ href|e }}" {% if id==active_page %} class="nav-link px-2 text-white" {% else %}
              class="nav-link px-2 text-secondary" {% endif%}>
              {{ caption|e }}
            </a>
          </li>
          {% endfor %}
        </ul>


        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 w-25" action="/search/" method="GET">
          <input type="search" class="form-control form-control"
            style="color: white; background-color: rgba(47, 6, 87, 0.404)" placeholder="Search..." id="search_text"
            name="search_text" value="{{ search_text }}">
          <!-- <button type="submit" class="btn bg-dark"><span class="fa fa-search">
            </span>Q</button> -->
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-light">Sign-up</button>
        </div>
      </div>
    </div>
  </header>

  {% block content %}{% endblock %}


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>