{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}

<div class="h-5000 d-inline-block p-5 mr-1" style="width: 100%; background-color: rgba(255, 255, 255, 0)">
  <div class="container-fluid pl-5 pr-5">
    <div class="row pl-5 pr-5">

      <div class="card border-0 bg-transparent">
        <div class="card-body rounded" style="background-color:rgb(194, 110, 13);">
          <h5 class="card-title" style="color:  rgb(255, 255, 255);">This is the Magical Chords Website!</h5>
          <p class="card-text" style="color: rgba(219, 219, 219, 0.7);">
            Welcome!!!!!!
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
</div>

{% endblock %}