{% extends "base.html" %}
{% set active_page = "library" %}
{% block content %}


<div class="h-5000 d-inline-block p-5" style="width: 100%; background-color: rgba(255, 255, 255, 0)">
  <div class="container-fluid pl-5 pr-5">

    <div>
      <p>
      <h5>
        {{ results_message }}
      </h5>
      </p>
    </div>

    {% set ns = namespace(last_author = None) %}
    {% for song in songs %}

    {% if ns.last_author != song.author %}
    <div class="row pl-3 pr-3">
      <div class="col-sm" style="color: rgb(63, 0, 45);"><b><h5> {{ song.author }}
      </b></h5></div>
    </div>
    {% endif %}
    {% set ns.last_author = song.author %}

    <div class="row pl-5 pr-5">
      <div class="col-sm">
        <div class="card border-0 bg-transparent">
          <div class="card-body rounded" style="background-color: rgb(63, 0, 45)">
            <a href="/song/?song_id={{ song.id }}" class="text-white-50">
              <h5 class="card-title" style="color:  rgb(255, 196, 0);">{{ song.title }} - {{ song.author }}</h5>
              <p class="card-text" style="color: rgba(255, 255, 255, 0.7);">
                {{ song.song_content }}
              </p>
            </a>
          </div>
        </div>
        <p class="px-2"></p>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}