{% extends "base.html" %}
{% set active_page = "about" %}
{% block content %}


<div class="h-5000 d-inline-block p-5" style="width: 100%; background-color: rgba(255, 255, 255, 0)">
  <div class="container-fluid pl-5 pr-5">
    <div class="row pl-5 pr-5">

      <div class="col-sm">
        <div class="card border-0 bg-transparent">
          <div class="card-body rounded" style="background-color: rgb(63, 0, 45)">
            <h5 class="card-title" style="color:  rgb(255, 196, 0);">How it started</h5>
            <p class="card-text" style="color: rgba(255, 255, 255, 0.7);">
              The website <i>Magical Chords</i> started as a simple portfolio project. 
              At the beginning it was only supposed to show chords after formatted 
              (from a Chord Pro format), but it became more. From one single page, 
              it became three, then ten, then a chord library! And now it's a place 
              for the community. It's a place for people to help each other and express 
              themselves.
            </p>
          </div>
        </div>
        
        <p class="px-2"></p>

        <div class="card border-0 bg-transparent">
          <div class="card-body rounded" style="background-color:rgba(63, 0, 45)">
            <h5 class="card-title" style="color:  rgb(255, 196, 0);">What we aim</h5>
            <p class="card-text" style="color: rgba(255, 255, 255, 0.7);">
              As music is something that makes the world more colourful and brings 
              people together, our purpose couldn't be different. We want to have in our library as 
              much song sheets as possible and as many instrument versions as well. After
              all, guitarists are not the only ones doing music out there! Besides that, we want
              to give everyone voice and let people decide what's best (read more in the <b>website
              future improvements</b> section).Furthermore, the 
              intuitive and elegant design is a priority just as much as the powerful 
              code behind it. We are always trying to improve the website to work better
              and to have the best usability as possible.
            </p>
          </div>
        </div>

      </div>

      <div class="col-sm">

        <div class="card border-0 bg-transparent">
          <div class="card-body rounded" style="background-color:rgba(63, 0, 45);">
            <h5 class="card-title" style="color:  rgb(255, 196, 0);">What can you do?</h5>
            <p class="card-text" style="color: rgba(255, 255, 255, 0.7);">
              This is a website for the community. For the community to decide 
              what's best, to help each other, to contribute for the benefit of all. We are 
              not capable of putting every single song chords in the world here. We are not 
              capable of checking if everything is correct. We are just a few humans. Sometimes 
              we will fail and sometimes we won't be enough. Therefore, if you have any interest, 
              in the future you will be able to upload chords, vote for versions, denounce offenses, 
              and hopefully much more. Feedback is always welcome and extremely helpful. Thank you 
              for making this possible and better.
            </p>
          </div>
        </div>

        <p class="px-2"></p>

        <div class="card border-0 bg-transparent">
          <div class="card-body rounded" style="background-color:rgba(63, 0, 45);">
            <h5 class="card-title" style="color:  rgb(255, 196, 0);">Website future improvements</h5>
            <p class="card-text" style="color: rgba(255, 255, 255, 0.7);">
              We intend to add the following features to the website, as soon as possible: 
              denounce buttons, personal profiles, possibility to upload chords, votings for different 
              chord versions, key changes, comments section, and much more.
            </p>
          </div>
        </div>

      </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
